.header{
    background-color: hsl(60, 5%, 5%);
    border-bottom: 1px solid hsl(340, 95%, 55%);
}

#menu-list li a{
    background-color: hsl(60, 5%, 5%);
}
#menu-list li a:hover{
    color: white;
    background-color: hsl(340, 95%, 55%);
}

body {
    background-color: hsl(60, 5%, 15%);
}

#chat-list li {
    background-color: hsla(60, 5%, 15%, 0.7);
}

#chat-list li p {
    color: hsl(0, 0%, 90%);
}

#chat-list li p a {
    color: hsl(190, 80%, 65%)
}
#chat-list li p a:hover{
    background-color: hsl(60, 5%, 5%);
}

#chat-list li:after,
#chat-list li .mute {
    background-color: hsl(340, 95%, 55%);
}

#footer{
    background-color: hsl(60, 5%, 5%);
}

#footer video{
    border-top: 1px solid hsl(60, 5%, 15%);
}